flows_serveur_linux/flows.json
[{"id":"d0b02d8f.2de5a","type":"tab","label":"Lab 03","disabled":false,"info":""},{"id":"89f8da3f.c20c","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"acc","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":450,"y":120,"wires":[]},{"id":"8e902ed6.99b068","type":"websocket out","z":"d0b02d8f.2de5a","name":"","server":"","client":"9415cdfb.d5ca1","x":620,"y":160,"wires":[]},{"id":"8388de55.daa218","type":"mqtt in","z":"d0b02d8f.2de5a","name":"","topic":"acc","qos":"2","broker":"bcffa65c.274ee","x":50,"y":160,"wires":[["5056081f.2a9ee"]]},{"id":"5056081f.2a9ee","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var date = new Date();\nmsg.payload = {acc: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["89f8da3f.c20c","8e902ed6.99b068","2972289f.7ab438"]]},{"id":"2972289f.7ab438","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":200,"wires":[]},{"id":"3a6a17af.4fdbc8","type":"mqtt in","z":"d0b02d8f.2de5a","name":"","topic":"temp","qos":"2","broker":"bcffa65c.274ee","x":50,"y":300,"wires":[["7acb61f4.0203d"]]},{"id":"82dbf132.14f2c","type":"mqtt in","z":"d0b02d8f.2de5a","name":"","topic":"hum","qos":"2","broker":"bcffa65c.274ee","x":50,"y":440,"wires":[["6eaf4ab5.b6ac5c"]]},{"id":"7acb61f4.0203d","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var date = new Date();\nmsg.payload = {temp: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["43f20eb6.144bd8","aca25e9.4eec5a","6f27401d.b3499"]]},{"id":"6eaf4ab5.b6ac5c","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var date = new Date();\nmsg.payload = {hum: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":440,"wires":[["34ada23a.90aefe","8f31d13.67ba0b","a6d1af95.375638"]]},{"id":"43f20eb6.144bd8","type":"websocket out","z":"d0b02d8f.2de5a","name":"","server":"","client":"40078cba.154d74","x":620,"y":300,"wires":[]},{"id":"8f31d13.67ba0b","type":"websocket out","z":"d0b02d8f.2de5a","name":"","server":"","client":"6b822edc.ad8d38","x":620,"y":440,"wires":[]},{"id":"aca25e9.4eec5a","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"temp","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":450,"y":260,"wires":[]},{"id":"34ada23a.90aefe","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"hum","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":450,"y":400,"wires":[]},{"id":"6f27401d.b3499","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":340,"wires":[]},{"id":"a6d1af95.375638","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":480,"wires":[]},{"id":"f3d08a8a.441188","type":"mqtt in","z":"d0b02d8f.2de5a","name":"","topic":"currentState","qos":"2","broker":"bcffa65c.274ee","x":70,"y":580,"wires":[["704ce669.eb20c"]]},{"id":"704ce669.eb20c","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var date = new Date();\n\nmsg.payload = {\n    led: msg.payload,\n    date: date.getTime()\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":580,"wires":[["a3222427.d91f","e8ceb42b.9f2f6","ba55bc21.03bd2"]]},{"id":"ba55bc21.03bd2","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"ledState","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":460,"y":540,"wires":[]},{"id":"a3222427.d91f","type":"websocket out","z":"d0b02d8f.2de5a","name":"","server":"","client":"d107eaf6.8fe388","x":640,"y":580,"wires":[]},{"id":"e8ceb42b.9f2f6","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":620,"wires":[]},{"id":"36e1336e.953e2c","type":"websocket in","z":"d0b02d8f.2de5a","name":"","server":"99b1dec0.0a6dc","client":"","x":70,"y":700,"wires":[["5d46c255.2d6d1c","df37a651.920d6"]]},{"id":"2cc0df1c.3735a8","type":"mqtt out","z":"d0b02d8f.2de5a","name":"","topic":"setState","qos":"","retain":"","broker":"bcffa65c.274ee","x":400,"y":680,"wires":[]},{"id":"5d46c255.2d6d1c","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var json = JSON.parse(msg.payload);\nvar ledState = json.status;\nvar state = null;\nif( ledState === true){\n    state = 1;\n}else{\n    state = 0;\n}\nmsg.payload =\n {\n \"0c366e80cf3a11e19ab40002a5d5c51b\": state\n }\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":700,"wires":[["2cc0df1c.3735a8","fb4d6bcd.1ec84"]]},{"id":"df37a651.920d6","type":"debug","z":"d0b02d8f.2de5a","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":760,"wires":[]},{"id":"41ea21d.38b04e","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/temperature","method":"get","upload":false,"swaggerDoc":"","x":820,"y":300,"wires":[["9a248c39.be276"]]},{"id":"9a248c39.be276","type":"function","z":"d0b02d8f.2de5a","name":"","func":"msg.payload = \"db.temp.find().reverse().limit(10)\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":300,"wires":[["a1913ffb.8a48d8","ff9c55c.212c328"]]},{"id":"a1913ffb.8a48d8","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"temp","operation":"find","x":1150,"y":300,"wires":[["fb067ec7.66f71"]]},{"id":"fb067ec7.66f71","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":300,"wires":[["278d9583.6414ba"]]},{"id":"278d9583.6414ba","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":1490,"y":300,"wires":[]},{"id":"ff9c55c.212c328","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":380,"wires":[]},{"id":"2f878875.d3cf28","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/humidity","method":"get","upload":false,"swaggerDoc":"","x":810,"y":440,"wires":[["2ab27044.87b0a"]]},{"id":"2ab27044.87b0a","type":"function","z":"d0b02d8f.2de5a","name":"","func":"msg.payload = \"db.hum.find()\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":440,"wires":[["c6965d05.5282","61c2a897.be3a7"]]},{"id":"c6965d05.5282","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"hum","operation":"find","x":1150,"y":440,"wires":[["f89f47b6.1a057"]]},{"id":"f89f47b6.1a057","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":440,"wires":[["ae7176cf.bb21f"]]},{"id":"ae7176cf.bb21f","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":1490,"y":440,"wires":[]},{"id":"61c2a897.be3a7","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":520,"wires":[]},{"id":"91ca90e2.6671d8","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/ledState","method":"get","upload":false,"swaggerDoc":"","x":810,"y":580,"wires":[["466821d8.4e089"]]},{"id":"466821d8.4e089","type":"function","z":"d0b02d8f.2de5a","name":"","func":"msg.payload = \"db.ledState.find()\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":580,"wires":[["247bcad1.262be6","2b4732dd.b378be"]]},{"id":"247bcad1.262be6","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"ledState","operation":"find","x":1160,"y":580,"wires":[["e8f87d6d.f97a78"]]},{"id":"e8f87d6d.f97a78","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":580,"wires":[["4a06294e.d61398"]]},{"id":"4a06294e.d61398","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":1490,"y":580,"wires":[]},{"id":"2b4732dd.b378be","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":660,"wires":[]},{"id":"fb4d6bcd.1ec84","type":"debug","z":"d0b02d8f.2de5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":760,"wires":[]},{"id":"a1fa480b.e2c0e","type":"mqtt in","z":"d0b02d8f.2de5a","name":"","topic":"camera","qos":"2","broker":"bcffa65c.274ee","x":50,"y":880,"wires":[["3de2a493.807664"]]},{"id":"356232fe.3ed366","type":"websocket out","z":"d0b02d8f.2de5a","name":"","server":"","client":"41fb7db5.ff982c","x":390,"y":960,"wires":[]},{"id":"be1551d3.f6a38","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":480,"y":820,"wires":[]},{"id":"3de2a493.807664","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var date = new Date();\n//var parsed = JSON.Parse(msg.payload);\nmsg.payload = {\n    base64: msg.payload,\n    date: date.getTime(),\n    ledState: 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":880,"wires":[["356232fe.3ed366","be1551d3.f6a38","72c08cbe.f8489c"]]},{"id":"8b1275b5.1f5758","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/acceleration","method":"get","upload":false,"swaggerDoc":"","x":820,"y":160,"wires":[["6ab332f.161d04c"]]},{"id":"6ab332f.161d04c","type":"function","z":"d0b02d8f.2de5a","name":"","func":"msg.payload = \"db.acc.find().reverse().limit(10)\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["dd634ec2.3221e8"]]},{"id":"dd634ec2.3221e8","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"acc","operation":"find","x":1150,"y":160,"wires":[["abc2e78a.4ded18"]]},{"id":"abc2e78a.4ded18","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":160,"wires":[["d5952dfb.7814c"]]},{"id":"d5952dfb.7814c","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":1490,"y":160,"wires":[]},{"id":"f6e450e6.219e18","type":"mqtt in","z":"d0b02d8f.2de5a","name":"","topic":"localisation","qos":"2","broker":"bcffa65c.274ee","x":60,"y":1400,"wires":[["8335f218.c25c48"]]},{"id":"8fefefa.4b15b1","type":"websocket out","z":"d0b02d8f.2de5a","name":"","server":"","client":"a0be567a.d2d44","x":220,"y":1480,"wires":[]},{"id":"ab3940b.bfc08c","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"localisation","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":280,"y":1320,"wires":[]},{"id":"8335f218.c25c48","type":"function","z":"d0b02d8f.2de5a","name":"","func":"var date = new Date();\nvar parsed = JSON.parse(msg.payload);\nmsg.payload = {\n    latitude: parsed.latitude,\n    longitude: parsed.longitude,\n    date: date.getTime(),\n    ledState: 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1400,"wires":[["8fefefa.4b15b1","cbef5d5f.5717a","ab3940b.bfc08c"]]},{"id":"80e42663.bcd9d","type":"function","z":"d0b02d8f.2de5a","name":"find oldest localisation","func":"var fiveMinutesOld = new Date();\nfiveMinutesOld.setMinutes(fiveMinutesOld.getMinutes()-5);\nmsg.payload = {date: {$lt: fiveMinutesOld.getTime() }, ledState:0}\nmsg.limit = 1\nreturn msg\n","outputs":1,"noerr":0,"x":1320,"y":1560,"wires":[["f07c1f4b.4b5d58"]]},{"id":"f07c1f4b.4b5d58","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"localisation","operation":"find","x":1600,"y":1560,"wires":[["c70ceb3.c3da018"]]},{"id":"603a3cbf.e24bbc","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"localisation","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":2180,"y":1560,"wires":[]},{"id":"c70ceb3.c3da018","type":"function","z":"d0b02d8f.2de5a","name":"delete oldest localisation","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":1560,"wires":[["603a3cbf.e24bbc"]]},{"id":"cbef5d5f.5717a","type":"function","z":"d0b02d8f.2de5a","name":"get led state","func":"msg.payload = \"db.ledState.find()\";\nmsg.sort = {\n    $natural: -1\n}\nmsg.limit = 1\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1420,"wires":[["a27e7a1d.d677f"]]},{"id":"a27e7a1d.d677f","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"ledState","operation":"find","x":750,"y":1420,"wires":[["a367d37a.dd71d8"]]},{"id":"1cf15ac6.7c3045","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":1340,"wires":[]},{"id":"a453082a.ac2928","type":"switch","z":"d0b02d8f.2de5a","name":"If led state == 0 remove oldest record else update ledstatus","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1320,"y":1480,"wires":[["cdbbb5e2.cc302"],["80e42663.bcd9d"]]},{"id":"a367d37a.dd71d8","type":"function","z":"d0b02d8f.2de5a","name":"led state","func":"var led = JSON.parse(msg.payload[0].led);\nvar ledStatus = led.characteristics['0c366e80cf3a11e19ab40002a5d5c51b'].data[0];\nmsg.payload = {\n  status: ledStatus,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1420,"wires":[["1cf15ac6.7c3045","a453082a.ac2928"]]},{"id":"17faec61.b96894","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/getPictures","method":"get","upload":false,"swaggerDoc":"","x":820,"y":720,"wires":[["97e712b5.bdc1f","a1ea3027.aa2788"]]},{"id":"259ce64a.96ecda","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","operation":"find","x":1440,"y":720,"wires":[["9310b000.b7d33","938fc5d.5624c38"]]},{"id":"9310b000.b7d33","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":720,"wires":[["3f24fd0c.622e3a"]]},{"id":"3f24fd0c.622e3a","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":1790,"y":720,"wires":[]},{"id":"97e712b5.bdc1f","type":"debug","z":"d0b02d8f.2de5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":800,"wires":[]},{"id":"a1ea3027.aa2788","type":"function","z":"d0b02d8f.2de5a","name":"prepare request based on GET param","func":"var dateMin = parseFloat(msg.payload.dateMin), dateMax = parseFloat(msg.payload.dateMax), myLedState = parseFloat(msg.payload.ledState);\n\nmsg.payload = {\n    ledState: myLedState,\n    date: { \n        $lt: dateMax,\n        $gte: dateMin\n    }    \n}\n\nreturn msg\n","outputs":1,"noerr":0,"x":1130,"y":720,"wires":[["259ce64a.96ecda","16e255a2.89bb62"]]},{"id":"cdbbb5e2.cc302","type":"function","z":"d0b02d8f.2de5a","name":"find newest localisation","func":"msg.payload = \"db.localisation.find()\";\nmsg.sort = {\n    $natural: -1\n}\nmsg.limit = 1\nreturn msg\n","outputs":1,"noerr":0,"x":1330,"y":1400,"wires":[["2039068b.387c1a"]]},{"id":"2039068b.387c1a","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"localisation","operation":"find","x":1620,"y":1400,"wires":[["b7006ca2.548cb8"]]},{"id":"62564954.2e99e8","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"localisation","payonly":false,"upsert":false,"multi":false,"operation":"update","x":2220,"y":1400,"wires":[]},{"id":"b7006ca2.548cb8","type":"function","z":"d0b02d8f.2de5a","name":"update newest localisation","func":"msg.payload = msg.payload[0];\nmsg.payload.ledState = 1\nmsg.query= { _id: msg.payload._id }\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":1400,"wires":[["62564954.2e99e8"]]},{"id":"e42dea2d.0845b","type":"function","z":"d0b02d8f.2de5a","name":"find oldest picture","func":"var fiveMinutesOld = new Date();\nfiveMinutesOld.setMinutes(fiveMinutesOld.getMinutes()-5);\nmsg.payload = {date: {$lt: fiveMinutesOld.getTime() }, ledState:0}\nmsg.limit = 1\nreturn msg\n","outputs":1,"noerr":0,"x":1270,"y":1100,"wires":[["49ff57e2.5b0c68"]]},{"id":"49ff57e2.5b0c68","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","operation":"find","x":1540,"y":1100,"wires":[["3c657d88.11c34a"]]},{"id":"72c08cbe.f8489c","type":"function","z":"d0b02d8f.2de5a","name":"get led state","func":"msg.payload = \"db.ledState.find()\";\nmsg.sort = {\n    $natural: -1\n}\nmsg.limit = 1\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":900,"wires":[["184e8d48.2ae9d3"]]},{"id":"184e8d48.2ae9d3","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"ledState","operation":"find","x":690,"y":900,"wires":[["6e9cf40e.9d3844"]]},{"id":"7f6f7ac.5760b84","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":880,"wires":[]},{"id":"4e705e5a.e66c2","type":"switch","z":"d0b02d8f.2de5a","name":"If led state == 0 remove oldest record else update ledstatus","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":1020,"wires":[["4fba3d0d.8cabfc"],["e42dea2d.0845b"]]},{"id":"6e9cf40e.9d3844","type":"function","z":"d0b02d8f.2de5a","name":"led state","func":"var led = JSON.parse(msg.payload[0].led);\nvar ledStatus = led.characteristics['0c366e80cf3a11e19ab40002a5d5c51b'].data[0];\nmsg.payload = {\n  status: ledStatus,\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":900,"wires":[["7f6f7ac.5760b84","4e705e5a.e66c2"]]},{"id":"4fba3d0d.8cabfc","type":"function","z":"d0b02d8f.2de5a","name":"find newest picture","func":"msg.payload = \"db.camera.find()\";\nmsg.sort = {\n    $natural: -1\n}\nmsg.limit = 1\nreturn msg\n","outputs":1,"noerr":0,"x":1270,"y":940,"wires":[["dc00c97d.68b96"]]},{"id":"dc00c97d.68b96","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","operation":"find","x":1560,"y":940,"wires":[["9ebd866a.fa053","2224ad3a.ba78aa"]]},{"id":"69bc26c9.aec058","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":2060,"y":1100,"wires":[]},{"id":"3c657d88.11c34a","type":"function","z":"d0b02d8f.2de5a","name":"delete oldest picture","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":1100,"wires":[["69bc26c9.aec058"]]},{"id":"2f04dd82.d2e8ba","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","payonly":false,"upsert":false,"multi":false,"operation":"update","x":2080,"y":940,"wires":[]},{"id":"9ebd866a.fa053","type":"function","z":"d0b02d8f.2de5a","name":"update newest picture","func":"msg.payload = msg.payload[0];\nmsg.payload.ledState = 1\nmsg.query= { _id: msg.payload._id }\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":940,"wires":[["2f04dd82.d2e8ba","cd49635.95b78a"]]},{"id":"2224ad3a.ba78aa","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1760,"y":1020,"wires":[]},{"id":"cd49635.95b78a","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2040,"y":1040,"wires":[]},{"id":"16e255a2.89bb62","type":"debug","z":"d0b02d8f.2de5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1320,"y":800,"wires":[]},{"id":"7a7ddf4e.2b0638","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/allPictures","method":"get","upload":false,"swaggerDoc":"","x":1420,"y":640,"wires":[["393fccbe.9b56dc"]]},{"id":"393fccbe.9b56dc","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"camera","operation":"find","x":1680,"y":640,"wires":[["69f9f22b.199234"]]},{"id":"69f9f22b.199234","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":640,"wires":[["6cc77764.f0a4b8"]]},{"id":"6cc77764.f0a4b8","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":2030,"y":640,"wires":[]},{"id":"938fc5d.5624c38","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1700,"y":820,"wires":[]},{"id":"b289d9c5.21bef","type":"websocket in","z":"d0b02d8f.2de5a","name":"","server":"7120da3d.ed8934","client":"","x":90,"y":1100,"wires":[["dedf7b98.c2c6f"]]},{"id":"5d02b529.472d14","type":"mqtt out","z":"d0b02d8f.2de5a","name":"","topic":"CloseDoors","qos":"","retain":"","broker":"bcffa65c.274ee","x":790,"y":1060,"wires":[]},{"id":"b896275c.4099f8","type":"mqtt out","z":"d0b02d8f.2de5a","name":"","topic":"OpenDoors","qos":"","retain":"","broker":"bcffa65c.274ee","x":790,"y":1140,"wires":[]},{"id":"b37d0074.62938","type":"websocket in","z":"d0b02d8f.2de5a","name":"","server":"31ab9e95.8e1d1a","client":"","x":70,"y":1180,"wires":[["fbe5f6c4.4d9ff8"]]},{"id":"fbe5f6c4.4d9ff8","type":"mqtt out","z":"d0b02d8f.2de5a","name":"","topic":"ThiefAlert","qos":"","retain":"","broker":"bcffa65c.274ee","x":240,"y":1180,"wires":[]},{"id":"38394f08.fe36d8","type":"http in","z":"d0b02d8f.2de5a","name":"","url":"/getDoorsState","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1260,"wires":[["2e0f1d01.877692"]]},{"id":"eb8d69b5.5bd03","type":"mongodb in","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"doorState","operation":"find","x":630,"y":1260,"wires":[["581586c7.e4d738","f4e37780.2b4e48"]]},{"id":"c3d0379a.c9816","type":"switch","z":"d0b02d8f.2de5a","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1100,"wires":[["5d02b529.472d14"],["b896275c.4099f8"]]},{"id":"6cfd8382.81148c","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":1020,"wires":[]},{"id":"ed6e2614.401cd8","type":"function","z":"d0b02d8f.2de5a","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nmsg.headers[\"Content-Type\"]=\"application/json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1260,"wires":[["470a6520.cd7ae4"]]},{"id":"470a6520.cd7ae4","type":"http response","z":"d0b02d8f.2de5a","name":"http","statusCode":"","headers":{},"x":1130,"y":1260,"wires":[]},{"id":"59fef469.34a864","type":"mongodb out","z":"d0b02d8f.2de5a","mongodb":"f8db4422.79ced8","name":"","collection":"doorState","payonly":false,"upsert":true,"multi":false,"operation":"insert","x":630,"y":1200,"wires":[]},{"id":"dedf7b98.c2c6f","type":"function","z":"d0b02d8f.2de5a","name":"Get sended status","func":"var parsed = JSON.parse(msg.payload);\nvar dateEvent = new Date();\nmsg.payload = parsed;\nmsg.payload.date = dateEvent.getTime()\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1100,"wires":[["6cfd8382.81148c","c3d0379a.c9816","59fef469.34a864"]]},{"id":"2e0f1d01.877692","type":"function","z":"d0b02d8f.2de5a","name":"Retrieve latest record","func":"msg.payload = \"db.doorState.find()\";\nmsg.sort = {\n    $natural: -1\n}\nmsg.limit = 1\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1260,"wires":[["eb8d69b5.5bd03"]]},{"id":"581586c7.e4d738","type":"function","z":"d0b02d8f.2de5a","name":"","func":"msg.payload=msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1260,"wires":[["ed6e2614.401cd8"]]},{"id":"f4e37780.2b4e48","type":"debug","z":"d0b02d8f.2de5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1320,"wires":[]},{"id":"f8db4422.79ced8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"9415cdfb.d5ca1","type":"websocket-client","z":"","path":"/acc","tls":"","wholemsg":"false"},{"id":"bcffa65c.274ee","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.136","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"40078cba.154d74","type":"websocket-client","z":"","path":"/temp","tls":"","wholemsg":"false"},{"id":"6b822edc.ad8d38","type":"websocket-client","z":"","path":"/hum","tls":"","wholemsg":"false"},{"id":"d107eaf6.8fe388","type":"websocket-client","z":"","path":"/ledStatus","tls":"","wholemsg":"false"},{"id":"99b1dec0.0a6dc","type":"websocket-listener","z":"","path":"/getStatus","wholemsg":"false"},{"id":"41fb7db5.ff982c","type":"websocket-client","z":"","path":"/camera","tls":"","wholemsg":"false"},{"id":"a0be567a.d2d44","type":"websocket-client","z":"","path":"/localisation","tls":"","wholemsg":"false"},{"id":"7120da3d.ed8934","type":"websocket-listener","z":"","path":"/setDoorsState","wholemsg":"false"},{"id":"31ab9e95.8e1d1a","type":"websocket-listener","z":"","path":"/thiefAlert","wholemsg":"false"}]