flows_gateway/flows.json
[{"id":"282cd50f.6d69fa","type":"tab","label":"Accelerometer","disabled":false,"info":""},{"id":"f54f6edb.d84ff","type":"mqtt in","z":"282cd50f.6d69fa","name":"","topic":"AccelerometerValue","qos":"2","broker":"9ef4ebec.cd4898","x":90,"y":280,"wires":[["8c7e86a6.456138"]]},{"id":"2bd968dc.fa6018","type":"inject","z":"282cd50f.6d69fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["8c7e86a6.456138"]]},{"id":"8c7e86a6.456138","type":"function","z":"282cd50f.6d69fa","name":"Read Acc","func":"msg.topic = \"03366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["bf167c31.a46cf"]]},{"id":"bf167c31.a46cf","type":"Generic BLE in","z":"282cd50f.6d69fa","name":"","genericBle":"488e901f.dee76","useString":false,"notification":true,"x":470,"y":320,"wires":[["bae38113.5be0b","e86cb6f8.7521d8"]]},{"id":"bae38113.5be0b","type":"function","z":"282cd50f.6d69fa","name":"","func":"var x1 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][1] * 255;\nvar y1 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"3\"] * 255;\nvar z1 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"5\"] * 255;\n\nvar x2 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"0\"];\nvar y2 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"2\"];\nvar z2 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"4\"];\n\nvar aX = (x1 + x2);\nvar aY = (y1 + y2);\nvar aZ = (z1 + z2);\n\nif (aX > 0x7ff){\n    aX = aX - 65535;\n} \n\nif (aY > 0x7ff){\n    aY = aY - 65535;\n}\n\nif (aZ > 0x7ff){\n    aZ = aZ - 65535;\n}\nmsg.payload = [aX,aY,aZ];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["fbb4d1fc.86a74","309df8e4.647338"]]},{"id":"fbb4d1fc.86a74","type":"mqtt out","z":"282cd50f.6d69fa","name":"","topic":"acc","qos":"","retain":"","broker":"9ef4ebec.cd4898","x":770,"y":320,"wires":[]},{"id":"309df8e4.647338","type":"debug","z":"282cd50f.6d69fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":240,"wires":[]},{"id":"e86cb6f8.7521d8","type":"debug","z":"282cd50f.6d69fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":400,"wires":[]},{"id":"9ef4ebec.cd4898","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.136","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"488e901f.dee76","type":"Generic BLE","z":"","localName":"BlueNRG","address":"02:80:e1:00:34:09","uuid":"0280e1003409","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2aa6","name":"Central Address Resolution","type":"org.bluetooth.characteristic.central_address_resolution","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2ac9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2a","name":"IEEE 11073-20601 Regulatory Certification Data List","type":"org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"fe01","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"fe02","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4a","name":"HID Information","type":"org.bluetooth.characteristic.hid_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4b","name":"Report Map","type":"org.bluetooth.characteristic.report_map","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4c","name":"HID Control Point","type":"org.bluetooth.characteristic.hid_control_point","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":true},{"uuid":"2a22","name":"Boot Keyboard Input Report","type":"org.bluetooth.characteristic.boot_keyboard_input_report","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a32","name":"Boot Keyboard Output Report","type":"org.bluetooth.characteristic.boot_keyboard_output_report","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a4d","name":"Report","type":"org.bluetooth.characteristic.report","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4e","name":"Protocol Mode","type":"org.bluetooth.characteristic.protocol_mode","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":true},{"uuid":"00004a0200001000800000805f9b34fb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":true}]}]