Lab2/flows.json
[{"id":"44a25a7b.b0a354","type":"tab","label":"Humidity","disabled":false,"info":""},{"id":"abd82e99.92982","type":"mqtt in","z":"44a25a7b.b0a354","name":"","topic":"humidityValue","qos":"2","broker":"9ef4ebec.cd4898","x":130,"y":240,"wires":[["203897b.4c71068"]]},{"id":"14fcc23a.6eb2de","type":"inject","z":"44a25a7b.b0a354","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["203897b.4c71068"]]},{"id":"203897b.4c71068","type":"function","z":"44a25a7b.b0a354","name":"Read Humidity","func":"msg.topic = \"07366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["cdc193b6.afe58"]]},{"id":"cdc193b6.afe58","type":"Generic BLE in","z":"44a25a7b.b0a354","name":"","genericBle":"488e901f.dee76","useString":false,"notification":true,"x":490,"y":280,"wires":[["57bee131.a1797"]]},{"id":"57bee131.a1797","type":"function","z":"44a25a7b.b0a354","name":"","func":"val1= msg.payload.characteristics[\"07366e80cf3a11e19ab40002a5d5c51b\"][0];\nval2 = msg.payload.characteristics[\"07366e80cf3a11e19ab40002a5d5c51b\"][1] * 256;\nmsg.payload = parseFloat((val2 + val1)/10.0);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":280,"wires":[["139e8714.afd2e9","99c43dbc.2f2ed"]]},{"id":"139e8714.afd2e9","type":"mqtt out","z":"44a25a7b.b0a354","name":"","topic":"hum","qos":"","retain":"","broker":"9ef4ebec.cd4898","x":790,"y":280,"wires":[]},{"id":"99c43dbc.2f2ed","type":"debug","z":"44a25a7b.b0a354","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":200,"wires":[]},{"id":"9ef4ebec.cd4898","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.136","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"488e901f.dee76","type":"Generic BLE","z":"","localName":"BlueNRG","address":"02:80:e1:00:34:09","uuid":"0280e1003409","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2aa6","name":"Central Address Resolution","type":"org.bluetooth.characteristic.central_address_resolution","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2ac9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2a","name":"IEEE 11073-20601 Regulatory Certification Data List","type":"org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"fe01","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"fe02","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4a","name":"HID Information","type":"org.bluetooth.characteristic.hid_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4b","name":"Report Map","type":"org.bluetooth.characteristic.report_map","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4c","name":"HID Control Point","type":"org.bluetooth.characteristic.hid_control_point","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":true},{"uuid":"2a22","name":"Boot Keyboard Input Report","type":"org.bluetooth.characteristic.boot_keyboard_input_report","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a32","name":"Boot Keyboard Output Report","type":"org.bluetooth.characteristic.boot_keyboard_output_report","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a4d","name":"Report","type":"org.bluetooth.characteristic.report","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a4e","name":"Protocol Mode","type":"org.bluetooth.characteristic.protocol_mode","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":true},{"uuid":"00004a0200001000800000805f9b34fb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":true}]}]